                #widgetContainer {
            position: fixed;
            left: calc(50% - 150px);
            top: calc(50% - 90px);
            width: 300px;
            height: 180px;
            border-radius: 25px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            cursor: move;
        }
        #marketCanvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border-radius: 25px;
        }
        
        #overlayContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            pointer-events: none;

        }
        
        .market-cell {
            position: absolute;
            overflow: hidden;
            pointer-events: none;
                        border-radius: 25px;
        }
        
        .market-cell iframe {
            width: 100%;
            height: 100%;
            border: none;
            display: block;
            pointer-events: none;
                        border-radius: 25px;
        }
        
        .dragging {
            opacity: 0.8;
            cursor: grabbing;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        }
