        #marketCanvas {
            position: fixed;
            left: calc(50% - 150px);
            top: calc(50% - 90px);
            border-radius: 25px;
            z-index: 3;
            pointer-events: auto;
        }
        
        .dragging {
            opacity: 0.8;
            cursor: grabbing;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        }
